*.class
*.log
Taller-M1/project/
Taller-M1/target/
Taller-M1/tallerm1/project/
Taller-M1/tallerm1/target/
Taller-M1/tallerm1/.bsp/
Taller-M2/project/
Taller-M2/target/
Taller-M2/tallerm2/project/
Taller-M2/tallerm2/target/
Taller-M2/tallerm2/.bsp/
Taller-M3/project/
Taller-M3/target/
Taller-M3/tallerm3/project/
Taller-M3/tallerm3/target/
Taller-M3/tallerm3/.bsp/
Taller-M4/project/
Taller-M4/target/
Taller-M4/tallerm4/project/
Taller-M4/tallerm4/target/
Taller-M4/tallerm4/.bsp/
Taller-M5/project/
Taller-M5/target/
Taller-M5/tallerm5/project/
Taller-M5/tallerm5/target/
Taller-M5/tallerm5/.bsp/