*.class
*.log
Taller-M1/project/
Taller-M1/target/
Taller-M1/tallerm1/project/
Taller-M1/tallerm1/target/
Taller-M1/tallerm1/.bsp/
Taller-M2/project/
Taller-M2/target/
Taller-M2/tallerm2/project/
Taller-M2/tallerm2/target/
Taller-M2/tallerm2/.bsp/
